body{
    background-color:rgb(48, 48, 48);
    background-image: url(images/Website-HD-Backgrounds-Computer.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
::-webkit-scrollbar{
    width: 12px;
}
::-webkit-scrollbar-track{
    background: rgb(148, 148, 148);
}
::-webkit-scrollbar-thumb {
    background: rgb(99, 99, 99); 
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(82, 82, 82); 
}
@font-face {
    font-family: Hemi head;
    src: url("Fonts/hemi\ head\ bd\ it.ttf");
}
@font-face {
    font-family: HarryP;
    src: url("Fonts/HARRYP__.TTF");
}
/*.test{
    color: yellow;
    font-size: 30px;
    font-family: hemi head;
}*/
.home-title{
    color: white;
    font-size: 65px;
    top: 50px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    position: relative;
    animation-name: home-links;
    animation-duration: 3s;
}

.home-title::selection{
    background-color: yellow;
    color: rgb(0, 0, 0);
}
/*.index-copyright{
    font-size: 15px;
    color: white;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    opacity: 75%;
    position:relative;
    top: 30px;
}*/
.copyright{
    font-size: 15px;
    color: rgb(207, 207, 207);
    text-align:center;
    cursor:default;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgba(90, 90, 90, 0.747);
    padding: 10px 0px 10px 0px;
    opacity: 100%;
    left: 0%;
    animation-name: inf-bar;
    animation-duration: 1.3s;
}
.copyright::selection{
    background-color: yellow;
    color: rgb(0, 0, 0);
}
.ib-lisp{
    list-style-type: none;
    padding-right: 40px;
    animation-name: inf-bar;
    animation-duration: 1.3s;
}
.ib-lisp::selection{
    background-color: yellow;
    color: rgb(0, 0, 0);
}
.info-bar{
    background-color: rgba(0, 183, 255, 0.11);
    animation-name: inf-bar;
    animation-duration: 1.3s;
}
.info-bar::selection{
    background-color: yellow;
    color: rgb(0, 0, 0);
}
.ib-topic-1{
    font-family: HarryP;
    font-size: 25px;
    padding-top: 10px;
    color: rgb(0, 217, 255);
    animation-name: inf-bar;
    animation-duration: 1.3s;
}
.ib-topic-1::selection{
    background-color: yellow;
    color: rgb(0, 0, 0);
}
.ib-topics{
    font-family: HarryP;
    font-size:25px;
    color: rgb(0, 217, 255);
    animation-name: inf-bar;
    animation-duration: 1.3s;
}
.ib-topics::selection{
    background-color: yellow;
    color: rgb(0, 0, 0);
}
.ib-li{
    display: inline-block;
    padding-right: 30px;
    animation-name: inf-bar;
    animation-duration: 1.3s;
}
.ib-li::selection{
    background-color: yellow;
    color: rgb(0, 0, 0);
}
.ib-content{
    font-family: Hemi Head;
    color: rgb(194, 194, 194);
    text-decoration: none;
    animation-name: inf-bar;
    animation-duration: 1.3s;
}
.ib-content::selection{
    background-color: yellow;
    color: rgb(0, 0, 0);
}
.ib-links{
    font-family: Hemi Head;
    color: rgb(194, 194, 194);
    text-decoration: none;
    transition: 1s;
    animation-name: inf-bar;
    animation-duration: 1.3s;
}
.ib-links:hover{
    color: rgb(255, 255, 255);
}
.ib-links::selection{
    background-color: yellow;
    color: rgb(0, 0, 0);
}
.yt-vid{
    background-color: rgb(124, 124, 124);
}
h2{
    color: yellow;
    text-align: center;
}
.home-links-listing-main{
    list-style: none;
    text-align: center;
    background-color: rgba(80, 80, 80, 0.541);
}
.home-links-listing{
    display: inline-block;
    padding: 0% 60px;
    text-align:end;
}
.home-links{
    color: rgb(199, 199, 199);
    text-decoration: none;
    font-size: 20px;
    display: inline-block;
    font-family:Arial, Helvetica, sans-serif;
    transition: 1.5s;
    animation-name: home-links;
    animation-duration: 3s;
}
.home-select::selection{
    background-color: yellow;
    color: rgb(0, 0, 0);
}
.home-links::selection{
    background-color: yellow;
    color: rgb(0, 0, 0);
}
.home-links:hover{
    text-decoration: underline;
    color: rgb(255, 255, 255);
}
.home-links2nd{
    color: white;
    text-decoration: none;
    font-size: 5mm;
}
.home-links2nd::selection{
    background-color: yellow;
    color: rgb(0, 0, 0);
}
.home-links-div{
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
}
.home-links-div::selection{
    background-color: yellow;
    color: rgb(0, 0, 0);
}
.background{
    position: relative;
    text-align: center;
    width: 270px;
    animation-name: logo;
    animation-duration: 3s;
}
.background-div{
    text-align:center;
}
.background::selection{
    background-color: yellow;
    color: rgb(0, 0, 0);
}
.bots-h3{
    color: yellow;
    text-align: center;
    font-size: 30px;
    font-family:monospace;
    word-spacing: -7px;
    cursor: default;
    animation-name: bots-title;
    animation-duration: 2.3s;
    transition: 1s;
}
.bots-h3::selection{
    background-color: yellow;
    color: rgb(0, 0, 0);
}
.bots-h3:hover{
    font-size: 32px;
}
.bots-list{
    color: rgb(206, 206, 0);
    text-decoration: none;
    list-style-type:circle;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: 1s;
    animation-name: bots-list;
    animation-duration: 2.3s;
}
.bots-list::selection{
    background-color: yellow;
    color: rgb(0, 0, 0);
}
.bots-list:hover{
    font-size: 19px;
    color: yellow;
}
li.bots-list:hover{
color:rgb(206, 206, 0);
font-size: 18px;
}
.warn{
    color: rgb(255, 255, 0);
    font-size: 19px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration:dashed underline;
}
.about-title{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: underline;
    font-size: 33px;
    animation-name: topic;
    animation-duration: 2s;
}
.about-p1{
    color: orange;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 23px;
    cursor:default;
    text-align: center;
    animation-name: topic;
    animation-duration: 2s;
}
.about-p1::selection{
    background-color: yellow;
    color: rgb(0, 0, 0);
}
.about-spl{
    font-size:28px;
    color: orange;
    text-decoration: underline orange;
    animation-name: topic;
    animation-duration: 2s;
}
.about-spl::selection{
    background-color: yellow;
    color: rgb(0, 0, 0);
}
.about-title::selection{
    background-color: yellow;
    color: rgb(0, 0, 0);
}
.topics{
    color: rgb(255, 255, 0);
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 23px;
    animation-name: topics;
    animation-duration: 5s;
}
.content{
    color: orange;
    font-size: 20px;
    cursor:default;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    animation-name: content;
    animation-duration: 6s;
}
.topics::selection{
    background-color: yellow;
    color: rgb(0, 0, 0);
}
.content::selection{
    background-color: yellow;
    color: rgb(0, 0, 0);
}
.content-links{
    color: orange;
    animation-name: content;
    animation-duration: 6s;
}
.content-img{
    animation-name: content;
    animation-duration: 6s;
}
.content-links::selection{
    background-color: yellow;
    color: rgb(0, 0, 0);
}
.content-img::selection{
    background-color: yellow;
    color: rgb(0, 0, 0);
}
.home-btn{
    width: 5%;
    cursor:pointer;
}
/*.home{
    color: yellow;
    font-weight: bolder;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    position: absolute;
    left: 75px;
    bottom: 545px;
}*/
.home-btn::selection{
    color: black;
    background-color: yellow;
}
.nb-title{
    font-size: 35px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    animation-name: notice-board;
    animation-duration: 2s;
    animation-duration: 3s;
}
.nb-title::selection{
    color: black;
    background-color: yellow;
}
.notice-count{
    font-size: 40px;
    color: orange;
    background-color: rgb(68, 68, 68);
    padding-left:13px;
    padding-right: 13px;
    border: 2px solid yellow;
    border-radius: 100px;
    animation-name: notice-board;
    animation-duration: 2s;
}
.notice-count::selection{
    color: black;
    background-color: yellow;
}
.nb-content{
    color: yellow;
    font-size: 25px;
    font-family:Arial, Helvetica, sans-serif;
    animation-name: notice-board;
    animation-duration: 2s;
}
.nb-content::selection{
    color: black;
    background-color: yellow;
}
button{
    background-color: green;
    border: 2px solid rgb(0, 165, 0);
    width:15%;
    height: 35px;
    border-radius:5px;
    cursor: pointer;
    background-color: green;
}
.nb-btns{
    color: rgb(0, 255, 0);
    font-size: 20px;
    text-decoration: none;
    border-radius: 30px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: 1s;
    animation-name: nb-btns;
    animation-duration: 2s;
}
.nb-btns::selection{
    color: black;
    background-color: yellow;
}
.nb-btns:hover{
    cursor: pointer;
    transform: translateX(5px);
    transform: rotateZ(deg);
}
.about-btns{
    color: rgb(0, 255, 0);
    text-decoration: none;
}
.nb-dates{
    color: yellow;
    font-size: 20px;
    text-decoration: underline;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    animation-name: notice-board;
    animation-duration: 2s;
}
.nb-dates::selection{
    color: black;
    background-color: yellow; 
}
.about-btns::selection{
    color: black;
    background-color: yellow;
}
/*Animations*/

@keyframes topic{
    0%{
        transform: translateY(-60px);
        opacity: 0%;
    }
}
@keyframes topics{
    0%{
        opacity: 0%;
    }
}
@keyframes content{
    0%{
        opacity: 0%;
    }
}
@keyframes bots-title{
    0%{
        opacity:0%;
        transform: translateX(-200px);
    }
    75%{
        transform: translateX(5px);
    }
}
@keyframes bots-list{
    0%{
        opacity: 0%;
        transform: translateX(-70px);
    }
    75%{
        transform: translateX(5px);
    }
}
@keyframes home-links{
    0%{
        opacity: 0%;
        transform: rotateX(-90deg);
        transform: rotateY(90deg);
    }
}
@keyframes logo{
    0%{
        opacity: 0%;
        transform: translateY(-30px);
        transform: rotateY(90deg);
    }
}
@keyframes notice-board{
    0%{
        opacity: 0%;
        transform: translateY(-30px);
        transform: translateX(-20px);
    }
}
@keyframes nb-btns{
    0%{
        opacity: 0%;
        transform: translateY(-1000px);
    }
    50%{
        transform: translateY(15px);
    }
    100%{
        transform: translateY(-0px);
    }
}
@keyframes inf-bar{
    0%{
        opacity: 0%;
        transform: translateY(-500px);
        color: rgb(151, 151, 151);
    }
    75%{
        transform: translateY(10px);
    }
    /*90%{
        transform: translateY(-500px);
    }*/
}

/*Media queries*/

@media screen and (max-width: 1290px){
    .home-links{
        font-size:18px;
    }
}
@media screen and (max-width: 1276px){
    .home-links{
        font-size: 17px;
    }
}
@media screen and (max-width: 1244px){
    .home-links{
        font-size: 17px;
    }
}
@media screen and (max-width: 1244px){
    .home-links{
        font-size: 15px;
    }
    .home-title{
        font-size: 65px;
    }
}
@media screen and (max-width: 1173px){
    .home-links{
        font-size: 13px;
    }
    .home-title{
        font-size: 55px;
    }
}
@media screen and (max-width: 1137px) {
    .home-links{
        font-size: 13px;
    }
    .home-title{
        font-size: 50px;
    }
}
@media screen and (max-width: 1134px){
    .home-links{
        font-size: 14px;
    }
    .home-links-listing{
        display: block;
        text-align: left;
        padding: 0% 5px;
    }
    .home-links-listing-main{
        text-align: left;
    }
}
@media screen and (max-width: 1102px) {
    .home-links{
        font-size: 11px;
    }
    .home-title{
        font-size: 45px;
        top: 60px;
    }
    .background{
        top: 30px;
    }
}
@media screen and (max-width: 1066px) {
    .home-links{
        font-size: 12px;
        
    }
    .home-title{
        font-size: 45px;
    }
    .background{
        top: 30px;
        width: 220px;
    }
}
@media screen and (max-width: 1031px) {
    .home-links{
        font-size: 11px;
    }
    .home-title{
        font-size: 45px;
    }
    .background{
        top: 40px;
        width:220px;
    }
}
@media screen and (max-width: 995px) {
    .home-links{
        font-size: 10px;
        
    }
    .home-title{
        font-size: 45px;
    }
    .background{
        top: 40px;
        width: 220px;
    }
}
@media screen and (max-width: 959px) {
    .home-links{
        font-size: 12px;
        text-align: center;
        left: -15px;
    }
    .home-title{
        font-size: 50px;
        
    }
    .background{
        width: 230px;
        top: 40px;
    }
    .home-btn{
        width: 10%;
    }
    button{
        width: 150px;
        height: 45px;
        display: inline-block;
    }
}
@media screen and (max-width: 550px){
    .content{
        font-size: 15px;
    }
    .nb-content{
        font-size: 23px;
    }
}
@media screen and (max-width: 474px){
    button{
        width: 140px;
        height: 35px;
        display: inline-block;
    }
}
@media screen and (max-width: 450px) {
    .home-links{
        font-size: 12px;
        position: relative;
        
        text-align: center;
        
    }
    .home-title{
        font-size: 30px;
        top:10px;
    }
    .background{
        top: -15px;
    }
    .home-btn{
        width: 10%;
    }
    button{
        width:auto;
        height: 40px;
        display: inline-block;
    }
    .nb-content{
        font-size: 20px;
    }
}
@media screen and (max-width:428px){
    .nb-content{
        font-size: 18px;
    }
    .nb-btns{
        font-size: 17px;
        width: 120px;
    }
}
@media screen and (max-width: 396px){
    button{
        width: 110px;
    }
    .about-btns{
        font-size: 10px;
    }
    .nb-btns{
        font-size: 15px;
    }
    .nb-content{
        font-size: 16px;
    }
}
@media screen and (max-width: 356px){
    button{
        width: 100px;
        height: 25px;
    }
    .about-btns{
        font-size: 9px;
    }
    .nb-btns{
        font-size: 10px;
    }
}
@media screen and (max-width: 324px){
    button{
        width: 95px;
        height: 25px;
    }
    .about-btns{
        font-size: 8px;
    }
}
@media screen and (max-width: 309px){
    button{
        width: 90px;
    }
}
